<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/dashboard.css">
    <title>GOCART AdminHub</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <h2 class="text p-5" style="color: black;">GOCART</h2>
        </a>
        <ul class="side-menu top">
            <li >
                <a href="/admin/">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/productManagment?page=1">
                    <!-- /admin/addproduct -->
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">ProductManagment</span>
                </a>
            </li>
            <li>
                <a href="/admin/UserManagment?page=1">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">User managment</span>
                </a>
            </li>
            <li>
                <a href="/admin/OrderManagment">
                    <i class='bx bxs-group'></i>
                    <span class="text">Order Managment</span>
                </a>
            </li>
            <li>
                <a href="/admin/cateogaryManagment?page=1">
                    <i class='bx bxs-cog'></i>
                    <span class="text"> Cateogary Managment</span>
                </a>
            </li>
            <li class="active">
                <a href="/admin/CoupenManagment">
                    <!-- /admin/addproduct -->
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Coupen Managment</span>
                </a>
            </li>
            <li>
				<a href="/admin/offermanagment">
					<!-- /admin/addproduct -->
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Offer Managment</span>
				</a>
			</li>
            <li >
				<a href="/admin/referralOffer">
					<!-- /admin/addproduct -->
					<i class='bx bxs-shopping-bag-alt'></i>
					<span class="text">Referral Managment</span>
				</a>
			</li>
        </ul>
        <ul class="side-menu">

            <li>
                <a href="#" class="logout">
                    <i class="bi bi-trash"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->



    <!-- CONTENT -->
    <section id="content">


        <!-- MAIN -->
        <main>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Active coupon</h3>

                        <a href="/admin/deleteCoupenManagment"> <button class="btn btn-rounded"> <i
                                    class='bx bx-trash'></i>deleted/Expired</button></i></a>
                        <a href="/admin/addCoupenManagment"> <button class="btn btn-rounded"> <i
                                    class='bx bx-plus'></i>Add
                                Coupon</button></i></a>

                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Coupon Code</th>
                                <th>Discount</th>
                                <th>Expires At</th>
                                <th>Status</th>
                                <th>Minimum Purchase Amount</th>
                                <th>Max Redemabele Amount</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <% for(let i=0;i<coupen.length;i++) { %>
                            <tbody>

                                <tr>
                                    <td>
                                        <%=coupen[i].coupenCode %>
                                    </td>
                                    <td>
                                        <%=coupen[i].discountPercentage %>%
                                    </td>
                                    <td>
                                        <%=coupen[i].expiredDate %>

                                    </td>
                                    
                                    <td>
                                        <% if(coupen[i].status==true) { %>
                                            active
                                            <% } else {%>
                                             <% } %>
                                    </td>

                                    <td>
                                        <%=coupen[i].minPurchaseAmt%>
                                    </td>
                                    <td>
                                        <%=coupen[i].maxRedimabelAmount %>
                                    </td>
                                    <td>
                                        <a href="/admin/editCouponManagment?CouponCode=<%=coupen[i].coupenCode %>"><i class="bi bi-pencil-fill"></i></a>
                                    </td>
                                    <td>
                                        <i class="bi bi-trash-fill" style="font-size: 25px;color: rgb(9, 9, 9);"  data-bs-toggle="modal"
                                            data-bs-target="#deleteModal<%=coupen[i]._id %> "></i>
                                      
    
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="deleteModal<%=coupen[i]._id %>" tabindex="-1"
                                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this coupon?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancel</button>
                                                    <a href="/admin/deleteCouponManagment?deletId=<%=coupen[i]._id %>"
                                                        class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                          

                                    </td>
                                </tr>

                            </tbody>
                            <% } %>

                    </table>

                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->



    <!-- CONTENT -->

    <!-- CONTENT -->

    <!-- <script>
        function userdetails(id, prId) {
            const userDetailURL = /order-details?Id=${id};
    
            // Redirect to the user details page.
            window.location.href = userDetailURL;
        }
    </script>
    
    <script src="js/adminserver.js"></script>
    <script>import { Modal, Ripple, initMDB } from "mdb-ui-kit";
    
        initMDB({ Modal, Ripple });</script> -->


    <script src="script.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>